<html>
<head>
	<title>Andrew Lobos</title>
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link href="/stylesheets/blog.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="navbar">
			<a href="/"><div class="navbar-name">Admin</div></a>
			
			<div class="navbar-items">
				<a href="/admin/code"><span class="navbar-item">code</span></a><a href="/admin/blog"><span class="navbar-item">blog</span></a></a>
			</div>

			
			<div class="content">
				<a href="/admin/blog/new">New Post</a><br><br>
				<% for ( var i = 0; i < posts.length; i++ ) 
				{ 
					post = posts[i];
				%>
				<div class="post">
					<h1 class="post-title"><a href="/blog/view/<%= post.id %>"><%= post.title %></a></h1>
					<p class="post-content"><%- markdown.toHTML(post.content) %></p>
					<small>Posted by Andrew on <%= post.posted_at.getMonth()+"/"+post.posted_at.getDay()+"/"+post.posted_at.getYear() %> - <a href="/admin/blog/edit/<%= post.id %>">Edit</a> - <a href="/admin/blog/delete/<%= post.id %>">Delete</a></small>
				</div>
				<hr>
				<% } %>
			</div>
		</div>
	</div>
</body>